# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN="http://localhost:5173"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# SMTP (Alibaba)
SMTP_HOST="smtpdm.aliyun.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_FROM=""
SMTP_USER="" # the same as SMTP_FROM
SMTP_PASS=""
